<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343003441928-1ma9r0jp3kb8pma5aibdeord8m3qpcoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343003441928-1ma9r0jp3kb8pma5aibdeord8m3qpcoo</string>
	<key>API_KEY</key>
	<string>AIzaSyA6EFTmdZdAlDNEtG1BCNSBR_nXN1U5tkk</string>
	<key>GCM_SENDER_ID</key>
	<string>343003441928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.williamwilson.MapApp</string>
	<key>PROJECT_ID</key>
	<string>mapvision-hackgt</string>
	<key>STORAGE_BUCKET</key>
	<string>mapvision-hackgt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343003441928:ios:67665dc6295773663d1abd</string>
	<key>DATABASE_URL</key>
	<string>https://mapvision-hackgt.firebaseio.com</string>
</dict>
</plist>